@import '../../../styles.scss';
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: $primary;
  align-items: center;
  color: white;

  position: sticky;
  top: 0;
  position: fixed;

  right: 0;
  width: 100%;

  z-index: 10;

  &__container {
    position: relative;
  }

  a {
    color: white;
    text-decoration: none;
  }

  &__logo {
    font-size: 30px;
  }

  &__links {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__link {
    position: relative;
    &_img {
      width: 30px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__count {
    position: absolute;
    background-color: $secondary;
    border-radius: 50%;
    color: white;
    text-align: center;
    width: 20px;
    height: 20px;
    bottom: 0%;
    right: -30%;
  }
}
