@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


.app {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
}

.app-footer {
  align-self: flex-end;
}
