@import '../../../../styles.scss';
.productCard {
  box-shadow: 1px 6px 27px -6px rgba(0,0,0,0.39);
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  transition: .5s;

  &__img {
    justify-self: center;
    width: 100%;
    height: 50%;
    object-fit: contain;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__price {
    padding: 10px;
    color: green;
  }

  &__btns {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 5px;
  }

  &__btn {
    all: unset;
    background-color: $primary;
    padding: 10px;
    text-align: center;
    color: white;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;

    &:hover {
      cursor: pointer;
    }

  }

  &__title {
    text-align: center;
    font-weight: 500;
  }
}

:host ::ng-deep {
  .p-rating-icon-active {
    path {
      fill: rgb(255, 240, 71);
    }
}
}
