<div class="productCard" *ngIf="product.price>0">
  <img src="{{product.images[0]}}" alt="" class="productCard__img" />
  <div class="productCard__title">{{product.title}}</div>
  <div class="productCard__info">
    <div class="productCard__price">{{product.price}}$</div>
    <div class="productCard__rating">
      <p-rating [(ngModel)]="rating" [readonly]="true" [cancel]="false"></p-rating>
    </div>
  </div>

  <div class="productCard__btns">
    <button class="productCard__btn" (click)="addToCart()">Додати в кошик</button>
    <a [routerLink]="['product', product.id]" class="productCard__btn productCard__btn_more">></a>
  </div>
</div>