<div class="sideCart" id="sideCart">
  <div *ngIf="cart.length !== 0" class="sideCart__full">
    <div class="sideCart__products">
      <app-cart-list></app-cart-list>
    </div>

    <div class="sideCart__info">
      <div class="sideCart__summary">
        <div class="sideCart__totalPrice">
          Усього: <span>{{totalNumber}}$</span>
        </div>
        <img (click)="confirmDelete($event)" title="Очистити кошик" src="../../../../assets/icons/delete.png" class="sideCart__delete" /> 
      </div>

      <a routerLink="cart" (click)="hideSideBar()"><button  class="sideCart__btn">Оформити Замовлення</button></a>
    </div>
  </div>

  <div *ngIf="cart.length == 0" class="sideCart__empty">
    <img src="../../../../assets/images/empty-cart.png"/>
    <div>Кошик пустий</div>
  </div>
</div>
<p-confirmDialog acceptLabel="Так" rejectLabel="Ні"></p-confirmDialog>