.sideCart {
  height: 100vh;
  width: 400px;
  background-color: white;
  box-shadow: -4px 0px 22px 0px rgba(0,0,0,0.45);
  position: fixed;
  right: 0;
  z-index: 8;
  padding: 100px 0;
  padding-bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  transform: translateX(100%);
  transition: .5s;

  &_active{
    transform: translateX(0);
  }

  &__full {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__empty {    
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
    }
  }

  &__products {
    padding: 0 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  &__product {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    gap: 20px;
    align-items: center;
    height: 80px;

    img {
      width: 100%;
      border-radius: 5px;
    }

    border-bottom: 1px solid gray;
    padding-bottom: 20px;
  }

  &__title {
    font-weight: 500;
  }

  &__price{
    color: green;
  }

  &__counter {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__plus, &__minus {
    font-size: 30px;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
  }

  &__quantity{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 5px 20px;
    text-align: center;
  }

  &__info {
    font-size: 20px;
    img {
      width: 30px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  &__summary {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

    span {
      color: green;
    }
  }

  &__btn {
    all: unset;
    width: 100%;
    background-color: #B185A7;
    color: white;
    padding: 30px 0;
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}