<div class="catalogue">
  <div class="container catalogue__container">

    <div class="catalogue__header" #catalogueHeader>
      <nav class="catalogue__nav" #catalogueNav>
        <div class="catalogue__link catalogue__link_active" (click)="changeTab('', catalogueNav, $event)">Усі продукти</div>
        <div class="catalogue__link" (click)="changeTab('category/smartphones/', catalogueNav, $event)">Смартфони</div>
        <div class="catalogue__link" (click)="changeTab('category/laptops/', catalogueNav, $event)">Ноутбуки</div>
        <div class="catalogue__link" (click)="changeTab('category/sunglasses/', catalogueNav, $event)">Окуляри</div>

        <div class="catalogue__extendFilters" (click)="showFilters(catalogueHeader)">
          <div>Більше Фільтрів</div>
          <img src="../../../assets/icons/arrow.svg" alt="arrow" />
        </div>
      </nav>
      <app-filters *ngIf="allProducts" [products]="allProducts" (filterEvent)="filterProducts($event)"></app-filters>
    </div>

    <div *ngIf="allProducts && activeProducts.length!=0" class="catalogue__products">
      <div *ngFor="let product of activeProducts">
        <app-product-card [product]="product"></app-product-card>
      </div>
    </div>
    <button *ngIf="allProducts  && category == '' && activeProducts.length!=0" class="catalogue__btn" (click)="loadMore()">Загрузити ще</button>

    <div *ngIf="!allProducts" class="loading">
      <div class="loading__container">
        <div class="loading__ball"></div>
        <div class="loading__ball"></div>
        <div class="loading__ball"></div>
        <div class="loading__ball"></div>
        <div class="loading__ball"></div>
        <div class="loading__ball"></div>
        <div class="loading__ball"></div>
      </div>
      <div class="loading__title">Працюємо над цим...</div>
    </div>

    <div *ngIf="activeProducts.length==0" class="noResults">
      <img src="../../../assets/images/no-results.png"/>
      <div>Результатів не знайдено</div>
    </div>
  </div>
</div>
