/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

$primary: #122C34;
$secondary: #B185A7;


.container {
  width: 1140px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
}

@media (max-width: 720px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

body::-webkit-scrollbar {
  display: none;
}